<html>
<head>
<title>Reset Password (TEST)</title>
<style type="text/css">
label { display: inline-block; width: 150px; vertical-align: top; }
textarea { width: 50%; height: 400px; }
</style>
</head>
<body>
<h1>Reset Password (TEST)</h1>
<p>This is really just for testing. We shouldn't ever actually use this.</p>
<form method="post" action="/accounts/email_password_reset" enctype="multipart/form-data">
<label for="email">email:</label>
<input type="text" name="email" id="email" value="jeff@lyonbros.com"/>
<hr/>
<input type="submit" value="Submit"/>
</form>
</body>
</html>